<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags always come first -->
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- For mobile: Google Chrome's omnibar coloring -->
    <meta name="theme-color" content="#2D882D">

    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>

    <title>Yinwei Zhang's landing page</title>
  </head>

  <body>
    <!-- navbar -->
    <div class="container-fluod">

    </div>

    <!-- flash alerts for devise -->
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    
    <%= yield %>
  </body>
</html>
